*{
    margin: 0 auto;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image: url("https://i.pinimg.com/564x/a4/c3/92/a4c392f58f1ceb71a28a64067f2a4a02.jpg");
}

.container{
    background-color: rgb(45, 45, 138);
    border-bottom: 6px solid rgb(93, 95, 197);
}

.container img{
    width: 5%;
    height: 60px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.menu-site{
    list-style: none;
    padding: 0;
}


.menu-site li{
    display: inline;
}

.container ul{
    margin-left: 850px;
}

.menu-site li a{
    color: white;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
    transition: background .6s;
}

.menu-site li a:hover{
    background-color: rgb(39, 129, 189);
}

.tg{
    border-collapse:collapse;
    border-spacing:0;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.tg td{
    border-color:white;
    border-style:solid;
    border-width:3px;
    font-family:Arial, sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    overflow:hidden;
    padding:7px 3px;
    word-break:normal;
}

.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-c3ow{
    border-color:inherit;
    text-align:center;
    vertical-align:top
}

.tg .tg-dvpl{
    border-color:inherit;
    text-align:right;
    vertical-align:top
}

.tg .tg-0pky{
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

.tg .tg-0lax{
    text-align:left;
    vertical-align:top
}

.tg .tg-fuxe{
    border-color:inherit;
    font-size:18px;
    text-align:left;
    vertical-align:top
}

.div-fundo{
    background-color: rgb(92, 92, 212);
    height: 1500px;
    width: 50%;
    margin-top: 50px;
    float: left;
    margin-left: 50px;
}

.invisivel{
    visibility:hidden;
}

input {
    margin: 0;
    width: 20px;
    height: 20px;
    padding: 5px 3px;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    background-color: #8fd6ff;
    color: white;
    border: solid 3px blue;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.numero-da-coluna {
    background-color: white;
}


input:disabled {
    color: white;
    background-color: #8fd6ff
}
