*{
    margin: 0 auto;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image: url("https://i.pinimg.com/564x/a4/c3/92/a4c392f58f1ceb71a28a64067f2a4a02.jpg");
}

.container{
    background-color: rgb(45, 45, 138);
    border-bottom: 6px solid rgb(93, 95, 197);
}

.container img{
    width: 5%;
    height: 60px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.menu-site{
    list-style: none;
    padding: 0;
}


.menu-site li{
    display: inline;
}

.container ul{
    margin-left: 850px;
}

.menu-site li a{
    color: white;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
    transition: background .6s;
}

.menu-site li a:hover{
    background-color: rgb(39, 129, 189);
}

.cadastro{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.div-cadastro{
    background-color: rgb(45, 45, 138);
    width: 50%;
    height: 600px;
    margin-top: 60px;
    float: right;
    margin-right: 100px;
    border-radius: 20px;
}

.div-input{
    margin-top: 60px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-left: 200px;
    text-transform: uppercase;
    font-size: 20px;
}

.input-cadastro{
    margin-bottom: 20px;
    float: left;
    height: 30px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    border: 4px solid #1e84f5;
    outline: none;
    margin-top: 5px;
}

input::placeholder{
    color: rgb(81, 77, 99);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.botao-cadastrar{
        padding: 8px 7px;
        background-color: #1e84f5;
        margin-top: 25px;
        border: 3px solid white;
        display: flex;
}

.botao-cadastrar a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.botao-cadastrar a:hover{
    color: rgb(8, 37, 100);
}

.gif-jogo{
    width: 35%;
    height: 300px;
    margin-top: 200px;
    margin-left: 60px;
}

.mostrando-gif img{
    width: 100%;
    height: 200px;
}