
*{
    margin: 0 auto;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image: url(https://i.pinimg.com/564x/a4/c3/92/a4c392f58f1ceb71a28a64067f2a4a02.jpg);
}

.container{
    background-color: rgb(45, 45, 138);
    border-bottom: 6px solid rgb(93, 95, 197);
}

.container img{
    width: 5%;
    height: 60px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

.menu-site{
    list-style: none;
    padding: 0;
}


.menu-site li{
    display: inline;
}

.container ul{
    margin-left: 950px;
}

.menu-site li a{
    color: white;
    padding: 30px;
    text-decoration: none;
    display: inline-block;
    transition: background .6s;
}

.menu-site li a:hover{
    background-color: rgb(39, 129, 189);
}

.banner{
    width: 100%;
    height: 500px;
    background-image: url("https://startupi.com.br/wp-content/uploads/2020/11/vitreo-games-870x250.jpg");
    background-size: cover;
}

.banner .frase-motivadora{
    color: rgb(162 169 231);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;;
    text-transform: uppercase;
}

.banner .texto{
    text-align: center;
    padding-top: 240px;
    margin-left: 250px;
}

.div-mae{
    background-color:rgb(68, 89, 180) ;
    height: 440px;
    width: 80%;
    margin-top: 40px;
    padding: 100px 40px;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(17, 12, 31);

}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    padding: 20px 0px;
}

.linha-do-tempo{
    background-color: black;
    height: 6px;
    width: 90%;
    text-align: center;
}


.botao-ano{
    margin-top: 7px;
    margin-right: 7px;
    color: rgb(162 169 231);
    background-color:rgb(45, 45, 138);
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(162 169 231);
    cursor: pointer;
}

.botao-ano:hover{
    background-color:rgb(102, 75, 199);
}

.informacao{
    font-size: 24px;
    font-family: inherit;
    padding: 10px 0px;
}

.mensagem-historia{
    display: none;
    background-color: #6767ff;
    width: 60%;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-width: 4px;
    border-color: #6c98ff;
    padding: 30px 20px;
    text-transform: uppercase;
    font-size: 17px;
}

.mensagem-image{
    display: none;
    background-color:#6767ff;
    width: 27%;
    float: right;
    border-style: solid;
    border-color: #6c98ff;;
    border-width: 3px;
    padding: 20px 20px;
}

.mensagem-image img{
    height: 100px;
    width: 70%;
}


.proxima-pagina{
    margin-top: 30px;
    background-color: rgb(33 40 83);
    height: 25px; 
}

.proxima-pagina2{
    background-color: rgb(33 40 83);
    height: 25px;
    margin-top: 10px;
}

.div_botao{
    text-align: center;
}

.botao-caca{
    height: 50px;
    width: 20%;
    background-color: rgb(80, 80, 170);
    border-color: rgb(80, 80, 170);
    border-style: solid;
    margin-top: 10px;
}

.botao-caca a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.botao-caca:hover{
    background-color: rgb(46, 31, 99);
}

.contato-inicial{
    background-color: black;
    height: 280px;
    margin-top: 20px;
}

.icone-insta img{
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.icone-insta a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.icone-insta a:hover{
    color: violet;
}

.icone-git img{
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.icone-git a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.icone-git a:hover{
    color: #1e84f5;
}

.telefone img{
    height: 15px;
    width: 20px;
}

.telefone{
    color: white;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.email{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 10px;
}

.classificacao img{
    float: right;
    width: 15%;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.botao-cadastro{
    float: right;
    margin-right: 60px;
    margin-top: 50px;
    background-color: rgb(31 121 254);
    border-color: white;
    border-style: solid;
    border-width: 3px;
    padding: 3px 4px;
}

.botao-cadastro a:hover{
    color: rgb(8, 37, 100);
}



.div_login{
    background-color: rgb(45, 45, 138);
    width: 40%;
    height: 400px;
    margin-top: 70px;
    float: left;
    margin-left: 200px;
    border-radius: 20px;
}

.div_altura_input{
    padding: 40px 40px;
    display: flex;
}


.texto{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
}

.input{
    float: left;
    height: 30px;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    border: 4px solid #1e84f5 ;
    padding-left: 7px;
    outline: none;
}

input::placeholder{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.input-senha{
    float: left;
    height: 30px;
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    border: 4px solid #1e84f5 ;
    padding-left: 7px;
    outline: none;
}

.botao-entrar{
    padding: 8px 7px;
    background-color: #1e84f5;
    margin-top: 25px;
    border: 3px solid white;
}

.sem-cadastro{
    display: inline-block;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.sem-cadastro a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.sem-cadastro a:hover{
    color: rgb(8, 37, 100);
}


.botao-cadastro-login{
    background-color: #1e84f5;
    margin-top: 20px;
    border: 3px solid white;
    padding: 8px 7px;
    margin-left: 3px;
}


.gif-jogo{
    width: 27%;
    height: 300px;
    margin-top: 90px;
    text-align: center;
    margin-right: 100px;
}

.mostrando-gif img{
    width: 90%;
    height: 350px;
    border: 4px solid white;
}

.esquece-senha a{
    color: white;
    font-size: 20px;
    display: table;
}








